<h1>Orders
  <span>details</span>
</h1>
<ng-container *ngIf="transactionResponse?.cancelled">
  <div class="text-danger">This transaction has been cancelled
    at: {{transactionResponse.cancelled | date : 'short' }}</div>
</ng-container>
<br>
<div class="row form-group">
  <label for="staticId" class="col-sm-2 col-form-label">Order ID</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticId" class="form-control" [value]="transactionResponse?.id">
  </div>
</div>
<div class="row form-group">
  <label for="staticAccount" class="col-sm-2 col-form-label">Account</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticAccount" class="form-control" [value]="transactionResponse?.account.username">
  </div>
</div>
<div class="row form-group">
  <label for="staticTimestamp" class="col-sm-2 col-form-label">Timestamp</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticTimestamp" class="form-control"
           [value]="transactionResponse?.timestamp | date : 'short'">
  </div>
</div>
<div class="row form-group">
  <label for="staticPos" class="col-sm-2 col-form-label">Point of Sale</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticPos" class="form-control"
           [value]="transactionResponse?.pointOfSale.name">
  </div>
</div>
<div class="row form-group">
  <label for="staticTotal" class="col-sm-2 col-form-label">Total</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticTotal" class="form-control"
           [value]="transactionResponse?.sum | currency">
  </div>
</div>
<div class="row form-group" *ngIf="transactionResponse?.comment">
  <label for="staticComments" class="col-sm-2 col-form-label">Comments</label>
  <div class="col-sm-10">
    <input type="text" readonly id="staticComments" class="form-control" [value]="transactionResponse?.comment">
  </div>
</div>
<br>

<div *ngIf="transactionResponse?.transactionType === 'PurchaseTransaction'">
  <hr>
  <h2 class="py-2">Cart Items</h2>
  <ul class="list-unstyled">
    <li class="media my-3"
        *ngFor="let entry of asPurchaseTransactionResponse(transactionResponse).entries; index as i;">
      <div class="media-body">
        <h5>{{entry.product.name}}</h5>
        <span
          [ngStyle]="{'text-decoration':entry.price !== entry.product.price ? 'line-through':''}">{{entry.product.price|currency}}</span>
        <span *ngIf="entry.product.price !== entry.price">&nbsp;{{entry.price|currency}}</span>
      </div>
    </li>
  </ul>
</div>

<div *ngIf="transactionResponse?.transactionType === 'ChargeTransaction'">
  <hr>
  <h2>Charged Amount: {{transactionResponse?.sum | currency}}</h2>
</div>
