<div tabindex="0">
  <mat-stepper orientation="vertical" [selectedIndex]="selectedIndex" [linear]=true #stepper>
    <mat-step label="Account">
      <h4 class="mb-4">Use account</h4>
      <mat-accordion class="mb-4">
        <mat-expansion-panel expanded="true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account
            </mat-panel-title>
            <mat-panel-description>
              Find existing account
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div class="form-group form-inline d-flex">
            <label for="inputUserName">Search for Name or Email</label>
            <input type="text" class="flex-fill form-control mx-sm-3" id="inputUserName"
                   (keyup)="searchUser.next($event)"
                   [formControl]="searchUserInputControl">
          </div>

          <ul class="list-group" *ngIf="userResults$ | async as userResults">
            <li class="list-group-item" *ngFor="let account of userResults.results">
              <div class="d-flex justify-content-between">
                <div class="media">
                  <div class="media-body">
                    <h5 class="mt-0">{{account.email}}</h5>
                  </div>
                </div>
                <button class="btn btn-success" size="giant" (click)="setAccount(account)" matStepperNext>
                  Use this user
                </button>
              </div>
            </li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Account
            </mat-panel-title>
            <mat-panel-description>
              Create new account
            </mat-panel-description>
          </mat-expansion-panel-header>
          <app-account-form (save)="storeNewAccount($event)"
                            [validationErrors]="accountFormValidationErrors"></app-account-form>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-step>
    <mat-step label="Card">
      <h4 class="mb-4">Assign a card to {{account?.email}}</h4>
      <mat-card>
        <mat-card-content>
          <div class="form-group form-inline d-flex">
            <label for="inputCardId">Card ID to use</label>
            <input type="text" class="flex-fill form-control mx-sm-3" id="inputCardId"
                   [ngClass]="{'is-invalid': !cardIdInputControl.valid && !cardIdInputControl.pristine}"
                   [formControl]="cardIdInputControl">
            <button *ngIf="this.posConnected | async"
                    class="btn btn-outline-success" (click)="useCurrentCard()">Read from card reader
            </button>
          </div>
        </mat-card-content>
      </mat-card>

      <div class="d-flex justify-content-start mt-3">
        <button type="button" class="btn btn-outline-secondary mr-3" (click)="previousPage()">prev</button>
        <button type="submit" class="btn" (click)="saveCard(cardIdInputControl.value)"
                [disabled]="!cardIdInputControl.valid || cardIdInputControl.pristine"
                [ngClass]="{'btn-success': cardIdInputControl.valid, 'btn-outline-success': !cardIdInputControl.valid}">
          next
        </button>
      </div>
    </mat-step>
    <mat-step label="Charge">
      <h4 class="mb-4">Charge the account</h4>
      <mat-card>
        <mat-card-content>
          <div class="form-group form-inline d-flex">
            <label for="inputAmount">Amount to charge (additionally) onto account</label>
            <input type="number" class="flex-fill form-control  mx-sm-3" id="inputAmount" min="0"
                   [formControl]="chargeAmountInputControl">
          </div>
        </mat-card-content>
      </mat-card>

      <div class="dd-flex justify-content-start mt-3">
        <button class="btn btn-outline-secondary mr-3">prev</button>
        <button class="btn" (click)="chargeAccount(+chargeAmountInputControl.value)"
                [ngClass]="{'btn-success': chargeAmountInputControl.valid, 'btn-outline-success': !chargeAmountInputControl.valid}"
                [disabled]="!chargeAmountInputControl.valid">
          <span *ngIf="chargeAmountInputControl.value > 0">next</span>
          <span *ngIf="chargeAmountInputControl.value <= 0">skip</span>
        </button>
      </div>
    </mat-step>
    <mat-step label="Summary">
      <h4 class="mb-4">Summary</h4>
      <form>
        <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label" for="summaryUserName">User Name</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="summaryUserName"
                   value="{{account?.email}}">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label" for="summaryUserId">User ID</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="summaryUserId" value="{{account?.id}}">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label" for="summaryCardId">Card ID</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="summaryCardId" value="{{account?.cardId}}">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label" for="summaryOverdraft">Overdraft</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="summaryOverdraft"
                   value="{{account?.overdraft | currency:'EUR'}}">
          </div>
        </div>
        <div class="form-group row mb-0">
          <label class="col-sm-2 col-form-label" for="summaryBalance">Balance</label>
          <div class="col-sm-10">
            <input type="text" readonly class="form-control-plaintext" id="summaryBalance"
                   value="{{account?.balance | currency:'EUR'}}">
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-start mt-3">
        <button class="btn btn-outline-warning" (click)="restartWizard(); stepper.reset()">
          restart wizard
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
