<!--<ul class="nav flex-column mb-2">-->
<!--  <li class="nav-item" *ngFor="let pos of currentResult">-->
<!--    <a class="nav-link" [routerLink]="['/points-of-sale',pos.id]" routerLinkActive="active">-->
<!--      {{pos.name}}-->
<!--      <span class="float-right">-->
<!--        <span class="px-1" [ngClass]="{'text-warning':!pos.hasNfcClient,'text-success':pos.hasNfcClient}"-->
<!--              [container]="'body'" placement="top" ngbTooltip="NFC client">-->
<!--        </span>-->
<!--        <span class="px-1"-->
<!--              [ngClass]="{'text-warning':!pos.hasCashDeskClient,'text-success':pos.hasCashDeskClient}"-->
<!--              [container]="'body'" placement="top" ngbTooltip="Cashdesk">-->
<!--        </span>-->
<!--      </span>-->
<!--    </a>-->
<!--  </li>-->
<!--</ul>-->
<div class="nav mb-2">
  <div class="nav-item" *ngFor="let pos of currentResult">
    <app-point-of-sale-statusbar-item [pos]="pos"></app-point-of-sale-statusbar-item>
  </div>
</div>
