<button class="btn btn-outline-light btn-block btn-lg"
   style="border-color: #585858; height: 62px; overflow: hidden; font-size: 1.35rem; padding: 0.8rem 1rem;"
   (click)="authService.logout()"
   aria-label="Lock Cashdesk"
   i18n-aria-label="@@cd.sidebar.lockButton.ariaLabel">
  <fa-icon icon="lock"></fa-icon>
</button>
