<h1>Configuration</h1>
<br/>
<form [formGroup]="posConfigurationForm">
  <div class="card" *ngIf="isCashDesk==false">
    <div class="card-body">
      <h5 class="card-title">Sorry ¯\_(ツ)_/¯</h5>
      The current User you are logged in has not the right permissions to act like CashDesk.
    </div>
  </div>
  <div class="form-group row" *ngIf="isCashDesk==true">
    <label for="selectPos" class="col-sm-2 col-form-label">Point Of Sale</label>
    <div class="col-sm-10">
      <select class="form-control" id="selectPos"
              formControlName="pos" [compareWith]="posCompare">
        <option *ngFor="let pos of poses$ | async" [ngValue]="pos">{{ pos.name }}</option>
      </select>
    </div>
  </div>
</form>
