<div style="border-radius: 5px;">
  <div class="product_type__wrapper shadow" matRipple [matRippleColor]="'hsla(0, 0%, 0%, 0.4)'">
    <div class="product_type__image">
      <ng-container *ngIf="productType.image">
        <img [src]="productType.image" class="card-img" [alt]="productType.name">
      </ng-container>
      <ng-container *ngIf="!productType.image">
        <div class="px-2 product_type__alternate_text text-truncate py-2">{{productType.name}}</div>
      </ng-container>
    </div>
  </div>
</div>
