<h1>Accounts</h1>
<div class="row mb-3">
  <div class="col">
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/accounts/new']">
      <fa-icon [icon]="faPlus"></fa-icon>&nbsp;<span i18n="@@admin.accounts.createAccount">New</span>
    </a>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortActive="email" matSortDirection="asc">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="first-header-row"></tr>
  <tr mat-header-row *matHeaderRowDef="filterRow" class="second-header-row"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="id-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>

  <ng-container matColumnDef="email-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 300px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.accounts.emailSearch">Search</mat-label>
        <input matInput [formControl]="emailFilterValue">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="firstName-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 300px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.accounts.firstnameSearch">Search</mat-label>
        <input matInput [formControl]="firstNameFilterValue">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="lastName-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 300px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.accounts.lastNameSearch">Search</mat-label>
        <input matInput [formControl]="lastNameFilterValue">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="cardId-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 200px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.accounts.cardIdSearch">Search</mat-label>
        <input matInput [formControl]="cardIdFilterValue">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="balance-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 50px"></th>
  </ng-container>

  <ng-container matColumnDef="overdraft-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 50px"></th>
  </ng-container>

  <ng-container matColumnDef="discount-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 50px"></th>
  </ng-container>

  <ng-container matColumnDef="locked-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 50px"></th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef></th>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderId">ID</th>
    <td mat-cell *matCellDef="let acc">{{acc.id || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderEmail">Email</th>
    <td mat-cell *matCellDef="let acc">{{acc.email || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderFirstName">Firstname</th>
    <td mat-cell *matCellDef="let acc">{{acc.firstName || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderLastName">Lastname</th>
    <td mat-cell *matCellDef="let acc">{{acc.lastName || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="cardId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderCardId">Card ID</th>
    <td mat-cell *matCellDef="let acc">{{acc.cardId || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderBalance">Balance</th>
    <td mat-cell *matCellDef="let acc">{{acc.balance | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="overdraft">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderOverdraft">Overdraft
      facility
    </th>
    <td mat-cell *matCellDef="let acc">{{acc.overdraft | currency}}</td>
  </ng-container>

  <ng-container matColumnDef="discount">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderDiscount">Discount</th>
    <td mat-cell *matCellDef="let acc">{{acc.discount*100}} %</td>
  </ng-container>

  <ng-container matColumnDef="locked">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.accounts.tableHeaderLocked">Locked</th>
    <td mat-cell *matCellDef="let acc">
      <input type="checkbox" [checked]="acc.locked" [ngClass]="{'is-invalid': acc.locked, 'is-valid': !acc.locked}"
             disabled/>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n="@@admin.accounts.tableHeaderActions">Actions</th>
    <td mat-cell *matCellDef="let acc">
      <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-outline-primary" [routerLink]="['/accounts', acc.id]" title="Edit Account"
           i18n-title="@@admin.accounts.editRowButton">
          <fa-icon [icon]="faEdit" [fixedWidth]="true"></fa-icon>
        </a>
        <button class="btn btn-outline-danger" (click)="delete(acc)" title="Delete Account"
                i18n-title="@@admin.accounts.deleteRowButton">
          <fa-icon [icon]="faTrash" [fixedWidth]="true"></fa-icon>
        </button>
      </div>
    </td>
  </ng-container>

</table>
<mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
               [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
