<h1>Product Types</h1>
<div class="row mb-3">
  <div class="col">
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/product-types/new']">
      <fa-icon [icon]="faPlus"></fa-icon>&nbsp;<span i18n="@@admin.productTypes.createProductType">New</span>
    </a>
  </div>
</div>

<table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="first-header-row"></tr>
  <tr mat-header-row *matHeaderRowDef="filterRow" class="second-header-row"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>

  <ng-container matColumnDef="id-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 320px"></th>
  </ng-container>

  <ng-container matColumnDef="order-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 80px"></th>
  </ng-container>

  <ng-container matColumnDef="name-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.productTypes.productTypeName">Search</mat-label>
        <input matInput [formControl]="nameFilterValue">
      </mat-form-field>
    </th>
  </ng-container>

  <ng-container matColumnDef="locked-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 50px"></th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 320px"></th>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.productTypes.tableHeaderId">ID</th>
    <td mat-cell *matCellDef="let row">{{row.id || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="order">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.productTypes.tableHeaderOrder">Order</th>
    <td mat-cell *matCellDef="let row">{{row.order}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.productTypes.tableHeaderProductTypeName">Name
    </th>
    <td mat-cell *matCellDef="let row">{{row.name || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="locked">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.productTypes.tableHeaderLocked">Locked</th>
    <td mat-cell *matCellDef="let row">
      <input type="checkbox" [checked]="row.locked" [ngClass]="{'is-invalid':row.locked, 'is-valid': !row.locked}"
             disabled/>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n="@@admin.productTypes.tableHeaderActions">Actions</th>
    <td mat-cell *matCellDef="let row">
      <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-outline-primary" [routerLink]="['/product-types', row.id]" title="Edit ProductType" i18n-title="@@admin.productTypes.editRowButton">
          <fa-icon [icon]="faEdit" [fixedWidth]="true"></fa-icon>
        </a>
      </div>
    </td>
    <td mat-footer-cell *matFooterCellDef="let row"></td>
  </ng-container>

</table>
<mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
               [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
