<div class="mr-4 font-weight-bold">
  {{pos.name}}
  <span class="px-1" [ngClass]="{'text-warning':!pos.hasNfcClient,'text-success':pos.hasNfcClient}" placement="top"
        ngbTooltip="NFC client">
  <fa-icon [icon]="faCreditCard"></fa-icon>
</span>
  <span class="px-1"
        [ngClass]="{'text-warning':!pos.hasCashDeskClient,'text-success':pos.hasCashDeskClient}" placement="top"
        ngbTooltip="Cashdesk">
  <fa-icon [icon]="faCalculator"></fa-icon>
</span>
</div>
