<h1>Points of Sale</h1>
<div class="row mb-3">
  <div class="col">
    <a class="btn btn-outline-primary btn-sm" [routerLink]="['/points-of-sale/new']">
      <fa-icon [icon]="faPlus"></fa-icon>&nbsp;<span i18n="@@admin.pos.createPos">New</span>
    </a>
  </div>
</div>
<table mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDirection="asc">
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay" class="first-header-row"></tr>
  <tr mat-header-row *matHeaderRowDef="filterRow" class="second-header-row"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  <ng-container matColumnDef="id-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>
  <ng-container matColumnDef="name-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px">
      <mat-form-field class="filter" floatLabel="never">
        <mat-label i18n="@@admin.pos.nameSearch">Search</mat-label>
        <input matInput [formControl]="nameFilterValue">
      </mat-form-field>
    </th>
  </ng-container>
  <ng-container matColumnDef="nfcClient-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>
  <ng-container matColumnDef="cashDesk-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>
  <ng-container matColumnDef="ready-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>

  <ng-container matColumnDef="actions-filter">
    <th mat-header-cell *matHeaderCellDef style="width: 350px"></th>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.pos.tableHeaderId">ID</th>
    <td mat-cell *matCellDef="let pos">{{pos.id || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.pos.tableHeaderName">Name</th>
    <td mat-cell *matCellDef="let pos">{{pos.name || '-'}}</td>
  </ng-container>

  <ng-container matColumnDef="nfcClient">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.pos.tableHeaderNfcClient">NFC Client</th>
    <td mat-cell *matCellDef="let pos">
      <input type="checkbox" [checked]="pos.hasNfcClient"
             [ngClass]="{'is-invalid': !pos.hasNfcClient, 'is-valid': pos.hasNfcClient}"
             disabled/>
    </td>
  </ng-container>

  <ng-container matColumnDef="cashDesk">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.pos.tableHeaderCashDesk">Cashdesk Client</th>
    <td mat-cell *matCellDef="let pos">
      <input type="checkbox" [checked]="pos.hasCashDeskClient"
             [ngClass]="{'is-invalid': !pos.hasCashDeskClient, 'is-valid': pos.hasCashDeskClient}"
             disabled/>
    </td>
  </ng-container>

  <ng-container matColumnDef="ready">
    <th mat-header-cell *matHeaderCellDef mat-sort-header i18n="@@admin.pos.tableHeaderReady">Ready</th>
    <td mat-cell *matCellDef="let pos">
      <input type="checkbox" [checked]="pos.isReady"
             [ngClass]="{'is-invalid': !pos.isReady, 'is-valid': pos.isReady}"
             disabled/>
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef i18n="@@admin.pos.tableHeaderActions">Actions</th>
    <td mat-cell *matCellDef="let pos">
      <div class="btn-group btn-group-sm" role="group">
        <a class="btn btn-outline-primary" [routerLink]="['/points-of-sale', pos.id]" title="Edit PoS"
           i18n-title="@@admin.pos.editRowButton">
          <fa-icon [icon]="faEdit" [fixedWidth]="true"></fa-icon>
        </a>
      </div>
    </td>
  </ng-container>
</table>
<mat-paginator [length]="dataSource.totalCount" [pageSize]="dataSource.pageSize"
               [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
