<h1 id="title" class="title">Admin Login</h1>
<p class="sub-title">Hello! Log in with your admin account.</p>
<form (ngSubmit)="login()" #form="ngForm" aria-labelledby="title">
  <button class="btn btn-outline-primary" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
    Login
  </button>
</form>
