<button type="button" class="btn btn-block btn-outline-success"
        *ngIf="currentCard !== null && currentCard.account !== null"
        style="height: 62px; overflow: hidden"
        (click)="showChargeCheckoutConfirmationModal(checkoutChargeConfirmationModal)">
  <span *ngIf="(totalChargeAmount$ | async) >= 0" i18n="@@cd.charge.button.deposit">Deposit</span>
  <span *ngIf="(totalChargeAmount$ | async) < 0" i18n="@@cd.charge.button.withdrawal">Withdrawal</span>
  <br>
  <span>{{(totalChargeAmount$ | async)  | currency}}</span>
</button>
<button type="button" class="btn btn-block btn-outline-warning"
        *ngIf="currentCard === null || currentCard.account === null"
        disabled style="height: 62px; overflow: hidden" i18n="@@cd.charge.button.noCardOnReader">
  Checkout<br>
  <span>No card on reader!</span>
</button>

<ng-template let-modal let-product="cart" #checkoutChargeConfirmationModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      <ng-container i18n="@@cd.charge.buttonModal.title">Checkout Confirmation</ng-container>
      <small *ngIf="currentCard !== null && currentCard.account !== null">
        <br><span
        i18n="@@cd.charge.buttonModal.currentBalance">Current Balance</span>: {{currentCard.account.balance | currency}}
        <br><span
        i18n="@@cd.charge.buttonModal.newBalance">New Balance</span>: {{currentCard.account.balance + (totalChargeAmount$ | async) | currency}}
      </small>
    </h4>
    <button type="button" class="close" aria-label="Close" i18n-aria-label="@@cd.aria.closeButton"
            (click)="modalInstance.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="textareaComment" i18n="@@cd.charge.buttonModal.comments">Comments</label>
      <textarea class="form-control" id="textareaComment" rows="4" [(ngModel)]="comments"></textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-warning text-uppercase" (click)="modalInstance.dismiss()"
            i18n="@@cd.charge.buttonModal.modalDismiss">Dismiss
    </button>
    <button class="btn btn-outline-success text-uppercase" (click)="modalInstance.close(comments)"
            i18n="@@cd.charge.buttonModal.modalOk">Checkout
    </button>
  </div>
</ng-template>
