<div class="d-flex flex-column" appUseWindowHeight>
  <div class="p2 py-2">
    <app-customer-details></app-customer-details>
  </div>
  <div class="p2 flex-grow-1 py-2">
    <div class="card" appUseWindowHeight="260" data-simplebar>
      <app-cart></app-cart>
    </div>
  </div>
  <div class="p2 py-2">
    <div class="d-flex flex-row">
      <div class="w-25 flex-shrink-1">
        <app-lock-button></app-lock-button>
      </div>
      <div class="flex-grow-1 ml-2">
        <app-checkout-button></app-checkout-button>
      </div>
    </div>
  </div>
</div>
