/* You can add global styles to this file, and also import other style files */
//@import "../node_modules/bootstrap/scss/bootstrap-reboot";
//@import "../node_modules/bootstrap/scss/bootstrap-grid";
// framework component styles
@import 'custom-theme';

@import '~ngx-toastr/toastr';

@import '../../../node_modules/bootstrap/scss/bootstrap';
@import '../../../node_modules/bootswatch/dist/cosmo/bootswatch';
@import '~simplebar/dist/simplebar.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~@danielmoncada/angular-datetime-picker/assets/style/picker.min.css";

html {
  overflow-y: scroll;
}

body {
  padding-top: 56px;
  padding-bottom: 56px;
}
